<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container">
<div class="row">

<%= render 'books/book', book: @book ,user: @show.user %>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>

<table class="table">
  		  <tbody><tr>
          <td><%= attachment_image_tag @show.user, :profile_image, fallback: "no_image.jpg",size: "50x50"%>
          <br><%= link_to @show.user.name , user_path(@show.user.id) %>
          </td>
          <td><%= link_to @show.title , book_path(@show.id) %></td>
          <td><%= @show.body %></td>
          <% if @show.user.id == current_user.id %>
          <td class="btn btn-sm btn-success edit_book_1587">
            <%= link_to "Edit" , edit_book_path(@show.id) %>
          </td>
          <td></td>
          <td class="btn btn-sm btn-danger destroy_book_1587">
          
          <%= link_to "Destroy" , book_path(@show.id), data: {confirm: "本当に消しますか?"}, method: :delete%>
          <%end%>
          </td>
        </tr>　　
      </tbody></table>