<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    　　<div class="container">
      　<a class="navbar-brand" href="/"><span>Bookers</span></a>
      　<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      　</button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="fas fa-home nav-link text-light">
          <%= link_to "Home" , user_path(current_user.id) %>
          </li>
          <li class="fas fa-users nav-link text-light">
          <%= link_to "Users" , "/users"  %>
          </li>
          <li class="fas fa-book-open nav-link text-light">
          <%= link_to "Books" , "/books"  %>
          </li>
          <li class="fas fa-sign-out-alt nav-link text-light">
          <%= link_to "logout" , destroy_user_session_path, method: :delete  %>
          </li>
        </ul>
      </div>
      <% else %>
          <li class="fas fa-home nav-link text-light"> 
          <%= link_to "Home" , "/"  %>
          </li>
          <li class="fas fa-link nav-link text-light">
          <%= link_to "About" , "/home/about"  %>
          </li>
          <li class="fas fa-user-plus nav-link text-light"> 
          <%= link_to "sign up" , "/users/sign_up"  %>
          </li>
          <li class="fas fa-sign-in-alt nav-link text-light"> 
          <%= link_to "login" , "/users/sign_in"  %>
          </li>
          <% end %>
        </ul>
      </div>
　</nav>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
</header>
    <%= yield %>
  </body>
</html>